.list {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-top: 40px;
}
.list__header {
  height: 40px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  color: #748c97;
}
.list__header-id {
  width: 50px;
  font-size: 14px;
  padding-left: 18px;
  margin-right: 8px;
}
.list__header-name {
  width: 19%;
  margin-right: 1%;
}
.list__header-comment {
  width: calc(100% - 20% - 40px);
}
.list__header-sort-btn {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
  padding-bottom: 10px;
}
.list__header-sort-btn span {
  position: relative;
}
.list__header-sort-btn.sort-asc span,
.list__header-sort-btn.sort-desc span {
  font-weight: 600;
  color: #1e42e2;
}
.list__header-sort-btn span::after {
  content: '';
  background: url('../../img/caret.svg');
  background-size: cover;
  display: none;
  position: absolute;
  top: 3px;
  right: -20px;
  width: 12px;
  height: 6px;
}
.list__header-sort-btn.sort-asc span::after {
  display: block;
}
.list__header-sort-btn.sort-desc span::after {
  display: block;
  transform: rotate(180deg);
}
