.list__item {
  position: relative;
  display: flex;
  background: #fff;
  color: #3d4042;
  padding: 14px 18px;
  margin-bottom: 8px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
}
.list__item::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-radius: 6px;
  transition: all 0.3s;
  background: rgba(70, 130, 219, 0.3);
}
.list__item:hover {
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.1);
}
.list__item.list__item_active {
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.1);
}
.list__item.list__item_active::after {
  height: 100%;
}
.list__item:last-child {
  margin-bottom: 0;
}
.list__item-field {
  position: relative;
  z-index: 2;
  height: min-content;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list__item.list__item_active .list__item-field {
  white-space: normal;
  overflow: visible;
}
.list__item-id {
  width: 40px;
}
.list__item-name {
  width: 19%;
  margin-right: 1%;
}
.list__item-comment {
  width: calc(100% - 20% - 40px);
}

@media (max-width: 1024px) {
  .list__item-name {
    width: 23%;
    margin-right: 2%;
  }
  .list__item-comment {
    width: calc(100% - 25% - 40px);
  }
}

@media (max-width: 768px) {
  .list__item {
    padding: 10px 12px;
  }
  .list__item-id {
    width: 30px;
  }
  .list__item-name {
    width: 28%;
    margin-right: 2%;
  }
  .list__item-comment {
    width: calc(100% - 30% - 30px);
  }
}
@media (max-width: 530px) {
  .list__item {
    padding: 8px 10px;
  }
  .list__item-name {
    width: 33%;
    margin-right: 2%;
  }
  .list__item-comment {
    width: calc(100% - 35% - 30px);
  }
}
