.list__item {
  display: flex;
  align-items: center;
  height: 45px;
  background: #fff;
  color: #3d4042;
  padding: 0 18px;
  margin-bottom: 8px;
  border-radius: 6px;
}
.list__item:last-child {
  margin-bottom: 0;
}
.list__item-id {
  width: 40px;
}
.list__item-name {
  width: 19%;
  margin-right: 1%;
}
.list__item-comment {
  width: calc(100% - 20% - 40px);
  text-overflow: ellipsis;
}