.app {
  min-height: 100vh;
  background: #f4f8f9;
  padding: 60px 120px 120px 80px;
}
.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #1e42e2;
}

@media (max-width: 768px) {
  .app {
    padding: 40px 40px 60px;
  }
  .title {
    font-size: 24px;
    line-height: 24px;
  }
}
@media (max-width: 530px) {
  .app {
    padding: 40px 20px 60px;
  }
}
