.list {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-top: 40px;
}
.list__header {
  display: flex;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  color: #748c97;
  padding-left: 18px;
  margin-bottom: 10px;
}
.list__header-number {
  width: 40px;
  font-size: 14px;
}
.list__header-name {
  width: 20%;
}
.list__header-comment {
  width: calc(100% - 20% - 40px);
}

